.todo-list {
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  &__container {
    gap: 24px;
  }

  &__title {
    position: absolute;
    left: -36px;
    top: 0;
    background-color: yellow;
    width: min-content;
    white-space: nowrap;
    padding: 8px 16px;
    border-radius: 4px;
    transform: rotate(-35deg);
  }
  &__form {
    background-color: #d9e6f6;
    border-radius: 8px;
    padding: 16px;
    width: calc(100% - 32px);
    margin: 0 auto;
    transition: .5s;
  }
  &__label {
    flex: 1 1 auto;
  }
  .input {
    height: 40px;
    padding: 0 12px;
    border-radius: 16px 0 0 16px;
    border: 1px solid #fff;
    border-right: none;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
  }
  .btn-add-task {
    background-color: #2889e8;
    border-radius: 0 16px 16px 0;
    padding: 0 16px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    transition: .2s;

    &:hover {
      background-color: transparentize(#2889e8, .2);
    }
  }

  .task {
    padding: 4px 16px;
    border-top: 1px solid #f0f0f0;
    animation: load .5s ease-in-out;

    &:nth-of-type(even) {
      background-color: #f0f0f0;
    }

    &__row {
      gap: 16px;
    }

    &__label {
      flex: 1;
      gap: 16px;
    }

    .switch__checkbox:checked ~ .task__text {
      color: #909090;
    }

    &__date {
      font-size: 12px;
      color: #606060;
      text-align: right;
    }

    .btn-remove-task {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      transition: .2s;

      svg {
        height: 16px;
        position: relative;
        top: 2px;
      }

      &:hover {
        background-color: #a60404;

        svg {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  //sorting
  &__sorting {
    gap: 16px;
    justify-content: space-between;
    padding: 0 24px 16px;

    &--row {
      display: flex;
      gap: 16px;

      button {
        transition: .2s;
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 8px;

        &::after {
          content: '';
          display: block;
          transition: .2s;
          transform: scale(.8);
        }
        &.btn-sort-by-date::after {
          background: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 10V9H12V10L16 14L20 10ZM12 7H20V6L16 2L12 6V7ZM3 14H0V12H3V14ZM6 10H0V8H6V10ZM9 6H0V4H9V6ZM12 2H0V0H12V2Z' fill='%23606060'/%3E%3C/svg%3E%0A") center no-repeat;
          width: 20px;
          height: 14px;
        }
        &.is-sort.btn-sort-by-date::after {
          background: url("data:image/svg+xml,%3Csvg width='20' height='14' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0L12 4V5H20V4L16 0ZM12 8L16 12L20 8V7H12V8ZM3 2H0V0H3V2ZM6 6H0V4H6V6ZM9 10H0V8H9V10ZM12 14H0V12H12V14Z' fill='%23606060'/%3E%3C/svg%3E%0A") center no-repeat;
        }

        //&.btn-sort-complete::after {
        //  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2V14H2V2H14ZM14 0H2C0.9 0 0 0.9 0 2V14C0 15.1 0.9 16 2 16H14C15.1 16 16 15.1 16 14V2C16 0.9 15.1 0 14 0Z' fill='%23606060'/%3E%3C/svg%3E%0A") center no-repeat;
        //  width: 16px;
        //  height: 16px;
        //}
        //&.is-sort.btn-sort-complete::after {
        //  background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0H2C0.9 0 0 0.9 0 2V14C0 15.1 0.9 16 2 16H14C15.1 16 16 15.1 16 14V2C16 0.9 15.1 0 14 0ZM6 14L1 9L3 7L6 10L13 3L15 5L6 14Z' fill='%23606060'/%3E%3C/svg%3E%0A") center no-repeat;
        //}

        &.btn-sort-reset {
          &::after {
            background: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.1 8C1.6 3.5 5.4 0 10 0C12.5 0 14.7 1 16.4 2.6L19 0L20 1V8H13L12 7L14.9 4.1C13.7 2.8 11.9 2 10 2C6.5 2 3.6 4.6 3.1 8H1.1ZM16.9 10C16.4 13.4 13.5 16 10 16C8.1 16 6.3 15.2 5.1 13.9L8 11L7 10H0V17L1 18L3.6 15.4C5.3 17 7.5 18 10 18C14.6 18 18.4 14.5 18.9 10H16.9Z' fill='%23606060'/%3E%3C/svg%3E%0A") center no-repeat;
            width: 20px;
            height: 18px;
            transform: scale(.7);
            transition: transform .85s ease-in-out;
          }
          &:hover::after {
            transform: scale(.7) rotate(360deg);
          }
        }

        &.is-sort {
          background-color: transparentize(#606060, .95);
        }

        &.btn-remove-all-tasks {
          color: red;
          background-color: transparentize(#a60404, .9);
          border-radius: 16px;
          padding-left: 16px;
          transition: .2s;

          svg {
            height: 18px;
          }

          &:hover {
            background-color: transparentize(#a60404, .5);
            color: #fff;

            svg {
              filter: brightness(0) invert(1);
            }
          }

        }
      }
    }
  }
  .no-tasks {
    font-weight: bold;
    font-size: 18px;
    align-items: center;;
    justify-content: center;
    gap: 8px;

    svg {
      height: 18px;
    }
  }
  .field-empty {
    background-color: #a60404;

    input, .btn-add-task {
      animation: pulse .15s ease-in-out;
      animation-iteration-count: 2;
    }
  }
}