.App {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 200px 200px transparentize(#000, .5);
  border-radius: 8px;
}

//flex option
.mesh-row {
  display: flex;
}
.mesh-cell {
  display: flex;
  flex-direction: column;
}
.mesh-row--v-center, .mesh-cell--h-center {
  align-items: center;
}
.mesh-row--h-center, .mesh-cell--v-center {
  justify-content: center;
}

//switch
.switch {
  cursor: pointer;

  &__checkbox {
    position: absolute;
    opacity: 0;
  }
  &__custom {
    width: 32px;
    height: 20px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #949393;
    position: relative;
    transition: all .15s linear;

    &::before, &::after {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      position: absolute;
      top: 3px;
    }
    &::before {
      background-color: #949393;
      left: 2px;
      transition: left .85s linear;
    }
  }

  &__checkbox:checked + &__custom {
    background-color: green;
    border-color: transparent;

    &::before {
      background-color: transparent;
    }
    &::after {
      background-color: #fff;
      left: calc(100% - 14px);
      transition: left .85s linear;
    }
  }
}


//animation
@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}